<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minneapolis Tweets</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="tweetie.js"></script>
</head>
<body>
    <div class="example1">
        <div class="tweet"></div>
    </div>
    <div class="example2">
        <div class="tweet"></div>
    </div>

    <script class="source" type="text/javascript">
        
        function loadTweet() {
            $('.example2 .tweet').twittie({
                hashtag: 'minneapolis',
                dateFormat: '%b. %d, %Y',
                template: '{{tweet}}',
                count: 1
            });
            $('.example1 .tweet').twittie({
                hashtag: 'minneapolis',
                dateFormat: '%b. %d, %Y',
                template: '{{tweet}}',
                count: 1
            });
        }

        function format() {
        var url = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/";
/*
          $('.example2 .tweet').twittie({
            $(this).text().replace(var, "url"); 
          });
          $('.example1 .tweet').twittie({
            $(this).text().replace(var, "url"); 
          });
*/
          console.log($(this));
        }


        loadVoices();
        loadTweet();
        setTimeout(function() {
            format();
            readMe();
        }, 1000);

        function readMe(){
          var msg = new SpeechSynthesisUtterance();
          var voices = window.speechSynthesis.getVoices();
          msg.voice = voices[1]; // Note: some voices don't support altering params
          msg.voiceURI = 'native';
          msg.volume = 1; // 0 to 1
          msg.rate = 0.8; // 0.1 to 10
          msg.pitch = 0; //0 to 2
          msg.text = $('.example2 .tweet').text();
          msg.lang = 'en-US';

          speechSynthesis.speak(msg);
        }

        function loadVoices() {
          // Fetch the available voices.
          var voices = speechSynthesis.getVoices();
          
          // Loop through each of the voices.
          voices.forEach(function(voice, i) {
            // Create a new option element.
            var option = document.createElement('option');
            
            // Set the options value and text.
            option.value = voice.name;
            option.innerHTML = voice.name;
              
            // Add the option to the voice selector.
            voiceSelect.appendChild(option);
          });
        }
    </script>
</body>
</html>