body {

            margin:0;
            padding:0;
            font-family: sans-serif;
            background-color: black;
            color: white;
            width: 100%;
            height: 100%;
        }

        a {
            color: white;
            text-decoration: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 1em;
            line-height: 1.3em;
            display: table;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        li {
            font-size: 24px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }
        .example2 {
            display: none;
        }